<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="images/favion.ico" type="images/x-icon">
    <style>
    body {
   	   background: #1D766F;
	   color: #33CEC3;
	   }
    </style>
    <title>{{title}}</title>
    <link rel=”icon” href=”images/lp.ico” type=”image/x-icon”>
</head>
<body>
<header>
    <nav class="navbar" style="background-color: #00665E">
        {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col">
                <a class="btn btn-info" href="/profil">Профиль</a>
            </div>
            <div class="col">
                <a class="navbar-brand" style="color: #33CEC3" href="/logout">{{ current_user.name }}</a>
            </div>
        </div>
        {% else %}
            <p>
                <a class="btn btn-info" href="/register">Зарегистрироваться</a>
                <a class="btn btn-light" href="/login">Войти</a>
            </p>
        {% endif %}
        {% if request.path=="/" %}
            <a class="btn btn-info" href="/basket">Корзина</a>
        {% endif %}
        {% if request.path!="/" %}
            <a class="btn btn-info" href="/">Витрина</a>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>