{% extends "base.html" %}

{% block content %}
    <h1>Все продукты</h1>
        {% if current_user.is_authenticated %}
            <a href="/product" class="btn btn-secondary">Добавить товар</a>
        {% endif %}
    {% for item in products %}
        <div class="card text-bg-light mb-3" style="max-width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content }}</p>
                <div class="row">
                    {% if current_user.is_authenticated and current_user == item.user %}
                        <div class="col">
                            <a href="/news/{{ item.id }}" class="btn btn-info">
                                Изменить
                            </a>
                            <a href="/news_delete/{{ item.id }}" class="btn btn-light">
                                Удалить
                            </a>
                        </div>
                    {% endif %}
                    <div class="col">
                        <a href="/news/{{ item.id }}" class="btn btn-info"
                               style="--bs-btn-padding-x: 20rem;">
                                В корзину
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}